---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Stack from "@/components/Stack.astro";
import NProjects from "@/components/NProjects.astro";
---

<Layout title="Tushar Portfolio Website">
  <main
    class="relative w-full flex flex-col justify-start items-center pattern"
  >
    <Header />
    <Hero />
    <NProjects />
    <Stack />
    <!--<Projects />-->
    <!--<About />-->
    <!--<Footer />-->
  </main>
</Layout>

<style>
  .pattern {
    background-color: #ffffff;
    background-image: radial-gradient(circle at top center, #f5fdff 70px, white),
      repeating-radial-gradient(
        circle at top center,
        #ffffff,
        #ffffff,
        200px,
        transparent 0,
        #eaeaea 201px
      );
    background-blend-mode: multiply;
  }
</style>
