<section>

<div class="px-4 space-y-8 font-semibold">
<h2 class="text-4xl text-center">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
    <a target="_blank" href="https://frontend-portfolio-lake.vercel.app/">
  <img src="./project_img/Crypto1.png" class="w-full h-full" />
    </a>
    <a target="_blank" href="https://frontend-portfolio-lake.vercel.app/post_pilot">
  <img src="./project_img/Post2.png" class="w-full h-full" />
    </a>
  </div>
</div>
  <section>
